.stamps,
.blinkies,
.collectibles {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.stamps img {
  width: 99px;
  height: 56px;
}

.blinkies img {
  width: 150px;
  height: 20px;
}

.collectibles a {
  height: fit-content;
}

.collectibles a:hover {
  background: none;
}
