#guestbook-form_name,
#guestbook-form_url {
  width: 100%;
}

#guestbook-form_message {
  height: 100px;
  text-align: left;
  width: 100%;
}

#reply-to-container {
  display: none;
}

.guestbook-form_head {
  display: grid;
  gap: 8px;
  grid-template-columns: 2fr 1fr;
}

#guestbook-form {
  display: flex;
  flex-direction: column;
  gap: 8px;

  button {
    margin: 0 auto;
    min-width: 20%;
  }
}

#guestbook-content,
#guestbook-content-archive {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.guestbook-entry {
  background-color: var(--darkgrey);
  border: 1px solid var(--black);
  /* border-radius: 6px; */
  overflow: hidden;
}

.guestbook-entry_top {
  display: flex;
  justify-content: space-between;
  padding: 2px 8px;
}

.guestbook-entry_bottom {
  display: flex;
  justify-content: right;
  padding: 2px 4px;
}

.guestbook-entry_content {
  padding: 2px 8px;
}

.guestbook-entry_options {
  display: flex;
  gap: 8px;
}

.guestbook-entry_name {
  font-weight: bold;
}

.guestbook-entry_date {
  color: var(--lightgrey);
}

.guestbook-reply-button {
  background-color: var(--black);
  border: none;
  color: var(--white);
  float: right;
  font-family: "Akmorn Grotesque", sans-serif;
  margin: 4px;
  outline: none;
  padding: 0px 4px;
}

.guestbook-reply-button:hover {
  cursor: pointer;
  filter: invert(100%);
}

.guestbook-reply-button::after {
  background-image: url("/assets/reply.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  height: 1em;
  margin-left: 0.4em;
  vertical-align: middle;
  width: 1em;
}

.guestbook-entry_replies {
  align-items: end;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 8px 0px;
  width: 100%;

  .guestbook-entry {
    background-color: var(--grey);
    width: 95%;
  }
}

.guestbook-form_status {
  text-align: center;
}

.guestbook-reply-status {
  background-color: var(--darkgrey);
  padding-left: 8px;

  span {
    font-size: large;
  }
}
