.notify {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.notify > form {
  height: 1em;
}

.eightyeight {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.eightyeight > a:hover {
  background-color: transparent;
}

.eightyeight > a {
  padding: 0px;
  text-decoration: none;
}

.eightyeight img,
.eightyeight a {
  color: var(--error-red);
  font-style: italic;
  font-weight: bold;
  height: 31px;
  letter-spacing: 2px;
  width: 88px;
}

.thing-i-did {
  border: 1px solid var(--blue);
  overflow: hidden;
  width: fit-content;
}

.thing-i-did_title {
  background-color: var(--blue);
  font-family: "Stack Sans Text";
  font-feature-settings: "ss01" 1;
  font-size: larger;
  font-weight: bold;
  padding: 0px 8px;
}

.thing-i-did_subtitle {
  font-family: "Akmorn Grotesque", sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.thing-i-did_description {
  padding: 4px 8px;
}
.thing-i-did_content {
  /* display: grid; */
  grid-template-columns: 3fr 1fr;

  a {
    padding: 0px;
  }

  a:hover {
    background-color: transparent;
  }
}

#notifysend {
  flex: 1;
  margin: 0px 14px;
}

#notifyinput {
  flex: 10;
}

.mybtn {
  background-color: var(--grey);
  border-radius: 2px;
  float: right;
  padding: 0px 4px 4px;
}

.webrings {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.contact-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;

  div {
    align-items: center;
    display: flex;
  }
}

#contact-fluxer::before,
#contact-discord::before,
#contact-email::before {
  display: inline-block;
  height: 1.5em;
  margin-right: 0.5em;
  width: 1.5em;
}

#contact-fluxer::before {
  content: url("/assets/icons/fluxer_light.svg");
}

#contact-discord::before {
  content: url("/assets/icons/discord_light.svg");
}
#contact-email::before {
  content: url("/assets/icons/email_light.svg");
}
