.notify {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.notify > form {
  height: 1em;
}

.eightyeight {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.eightyeight > a:hover {
  background-color: transparent;
}

.eightyeight > a {
  text-decoration: none;
}

.eightyeight img,
.eightyeight a {
  width: 88px;
  height: 31px;
  font-weight: bold;
  color: var(--error-red);
  font-style: italic;
  letter-spacing: 2px;
}

.noelle:hover {
  filter: invert(100%);
}

.thing-i-did {
  border: 2px solid var(--white);
  width: fit-content;
}

.thing-i-did_title {
  background-color: var(--blue);
  font-weight: bold;
  padding: 0px 8px;
  font-size: larger;
  font-family: "Stack Sans Text";
  font-feature-settings: "ss01" 1;
}

.thing-i-did_subtitle {
  font-family: "Akmorn Grotesque", sans-serif;
  font-size: 16px;
  font-weight: normal;
}

#notifysend {
  margin: 0px 14px;
  flex: 1;
}

#notifyinput {
  flex: 10;
}
