#scrobbles-recent {
  display: grid;
  gap: 8px;

  max-height: 400px;
  max-width: 512px;
  overflow-x: scroll;
}

.scrobble-track {
  background-color: var(--grey);

  display: flex;
  overflow: hidden;
  position: relative;
  z-index: 10;
}

.scrobble-track_dynamic {
  background: transparent;
  text-shadow: 1px 1px 2px var(--black);
}

.scrobble-track_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: inherit;
}

.scrobble-track_name {
  display: block;
  font-family: "Stack Sans Text";
  font-weight: bold;
  min-width: 0;

  white-space: nowrap;
  z-index: inherit;
}

.scrobble-track_ago {
  font-style: italic;
  opacity: 0.75;
}

.scrobble-track_img,
.scrobble-user_img {
  background-image: url("/assets/placeholder.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30%;
  margin-right: 8px;
}

.scrobble-track_img {
  aspect-ratio: 1;
  object-fit: cover;
  width: 64px;
  z-index: inherit;
}

.scrobble-user_img {
  aspect-ratio: 1;
  object-fit: cover;
  overflow: hidden;
  width: 100px;
}

.scrobble-user {
  display: flex;
  justify-content: center;
}

.scrobble-user_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4px 8px;
}

.scrobble-user_name {
  width: fit-content;
}

.scrobble-dynamicbg {
  background-position: center;
  display: inline-block;
  filter: blur(3px) brightness(60%) saturate(120%);
  position: absolute;
  rotate: 40deg;
  scale: 350%;
  user-select: none;
  z-index: 0;
}
