@import url("/css/reset.css");
@import url("/fonts/HS_LunaObscura/luna.css");
@import url("/fonts/StackSansText/stack_sans_text.css");
@import url("/fonts/AkmornGrotesque/akmorn_grotesque.css");

:root {
  --blue: #1e78ff;
  --blue-disabled: #1e314d;
  --white: #f5f5f5;
  --black: #16171b;
  --grey: #353841;
  --darkgrey: #202227;
  --red: #ff1e1e;
  --error-red: #ec5757;
  --orange: #ffb41f;
  --warning-orange: #eebe5e;
  --bg: #1c285e;
}

/* === BASE ELEMENTS === */

html {
  background-attachment: fixed;
  background-color: var(--bg);
  background-image: url("/assets/wireless_fish_bg.jpg");
  background-size: cover;
  color: var(--white);
  font-family: "Akmorn Grotesque", sans-serif;
  font-size: 16px;
  word-spacing: -2px;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
}

body > section + section {
  margin-top: 32px;
}

h1 {
  color: var(--blue);

  font-family: "HS LunaObscura";
  font-feature-settings: "ss01" 1;
  font-size: 42px;
  font-weight: bold;
}

h2 {
  font-family: "Stack Sans Text";
  font-feature-settings: "ss01" 1;
  font-size: 26px;
  font-weight: bold;
  margin-block: 0.5em;
}

h3 {
  font-family: "Stack Sans Text";
  font-size: 21px;
  font-weight: bold;
}

a,
a:visited {
  color: var(--blue);
  padding: 0px 2px;
}

a:hover {
  background-color: var(--blue);
  color: var(--white);
  text-decoration: none;
}

p {
  margin: 0.25em 0px;
}

p + p {
  margin-top: 0.25em;
}

textarea {
  background-color: #263a66;
  border: 2px solid var(--blue);
  color: var(--white);
  font-family: "Stack Sans Text";

  padding: 2px 4px;
  resize: vertical;
}

textarea:focus {
  background-color: #2f487e;
  border-color: var(--white);
  outline: none;
}

section + section {
  margin-top: 16px;
}

/* === INTERFACE === */

button {
  font-family: "Stack Sans Text";
}

.link-button {
  padding: 2px 5px;
}

.link-alt {
  color: var(--orange) !important;
}

.link-alt:hover {
  background-color: var(--orange);
  color: var(--blue) !important;
}

.button,
.button_disabled {
  background: linear-gradient(#0a5cb9, #1672db);
  border: none;
  color: #aecaee !important;
  padding: 2px 14px;
  text-decoration: none;
  text-shadow: 1px 1px 0px transparent;
  transform: skew(-45deg);

  span {
    display: inline-block;
    transform: skew(45deg);
  }
}

.button:hover:not(:disabled) {
  background: var(--white);
  color: var(--black) !important;
  cursor: pointer;
}

.button:disabled,
.button_disabled,
.button-action:disabled {
  background: var(--blue-disabled);
  color: #637286 !important;
  cursor: default;
}

.button-action {
  background-color: #4e81cc;
  border: 1px solid var(--white);
  border-radius: 2px;
  color: white;
  font-weight: bold;
}

.button-action:hover:not(:disabled) {
  background-color: #1b3463;
  color: var(--blue);
  cursor: pointer;
}

/* === LAYOUT === */

.content {
  background-color: var(--black);
  max-width: 1000px;
  padding: 16px 32px;
  width: 100%;
}

.nav-spacer {
  background-color: var(--white);
  transform: skew(-45deg);
  width: 4px;
}

/* === STYLE === */

.site-header {
  background-color: var(--black);
  border-bottom: 4px solid var(--blue);
  padding: 16px;
  width: 100dvw;
}

.site-title {
  font-style: italic;
  margin: 6px;
  text-align: center;
}

.error-text {
  color: var(--error-red);
}

.warning-text {
  color: var(--warning-orange);
}

.orange-text {
  color: var(--orange) !important;
}
