@import url("/fonts/Inter/inter.css");
@import url("/fonts/HS_LunaObscura/luna.css");
@import url("/fonts/StackSansText/stack_sans_text.css");

:root {
  --blue: #1e78ff;
  --white: #f5f5f5;
  --black: #171717;
  --red: #ff1e1e;
  --error-red: #ec5757;
  --bg: #1c285e;

  color: var(--white);
  font-family: "Stack Sans Text";
  font-size: 16px;
  text-shadow: 1px 1px 0px black;
}

html {
  background-color: var(--bg);
  background: url("/assets/wireless_fish_bg.jpg");
  background-size: contain;
  padding: 16px;
}

body {
  max-width: 1000px;

  margin: auto;
  padding: 16px;
}

body > section + section {
  margin-top: 32px;
}

h1 {
  color: var(--blue);

  font-family: "HS LunaObscura";
  font-feature-settings: "ss01" 1;
  font-weight: bold;
  margin-block: 0.67em;
  font-size: 42px;
}

h2 {
  font-family: "Stack Sans Text";
  font-feature-settings: "ss01" 1;
  font-size: 26px;
  font-weight: bold;
  margin-block: 0.5em;
}

h3 {
  font-family: "Stack Sans Text";
  font-weight: bold;
  font-size: 21px;
}

a,
a:visited {
  color: var(--blue);
}

a:hover {
  color: var(--white);
  background-color: var(--blue);
  text-decoration: none;
}

p {
  margin: 0.25em 0px;
}

p + p {
  margin-top: 0.25em;
}

.link-button {
  padding: 2px 5px;
}

textarea {
  color: var(--white);
  font-family: "Inter";

  padding: 2px 4px;
  border: 1px solid var(--white);
  border-radius: 2px;
  background-color: #314c85;
}

textarea:focus {
  outline: none;
  border-color: var(--blue);
}

.button,
.button_disabled {
  color: #aecaee !important;
  text-decoration: none;
  background: linear-gradient(#0a5cb9, #1672db);
  padding: 2px 14px;
  transform: skew(-45deg);
  text-shadow: 1px 1px 0px transparent;

  span {
    display: inline-block;
    transform: skew(45deg);
  }
}

.button:hover:not(:disabled) {
  color: var(--black) !important;
  background: var(--white);
}

.button:disabled,
.button_disabled,
.button-action:disabled {
  color: #637286 !important;
  background: #1a2844;
  cursor: default;
}

.button-action {
  color: white;
  font-weight: bold;
  border: 1px solid var(--white);
  border-radius: 2px;

  background-color: #4e81cc;
}

.button-action:hover:not(:disabled) {
  background-color: #1b3463;
  color: var(--blue);
  cursor: pointer;
}

.site-title {
  text-shadow: 8px 8px 0px #32568b46;
}

.horizontal-divider {
  border-top: 2px solid var(--blue);

  margin-top: 16px;
  margin-bottom: 16px;
}

.nav-spacer {
  width: 4px;
  transform: skew(-45deg);
  background-color: var(--blue);
}

.error-text {
  color: var(--error-red);
}
