@font-face {
  font-display: swap;
  font-family: "Stack Sans Text";
  font-style: normal;
  font-weight: normal;
  src: url("StackSansText-Regular.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Stack Sans Text";
  font-style: normal;
  font-weight: bold;
  src: url("StackSansText-Bold.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Stack Sans Text";
  font-style: normal;
  font-weight: 300; /* light */
  src: url("StackSansText-Light.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Stack Sans Text";
  font-style: normal;
  font-weight: 100; /* extra light */
  src: url("StackSansText-ExtraLight.ttf") format("truetype");
}
