@import url("./reset.css");
@import url("/fonts/HS_LunaObscura/luna.css");
@import url("/fonts/Inter/inter.css");
@import url("/fonts/StackSansText/stack_sans_text.css");
@import url("/fonts/AkmornGrotesque/akmorn_grotesque.css");

/* === BASE ELEMENTS === */

html {
  background-attachment: fixed;
  background-color: var(--bg);
  background-image: url("/bg.gif");
  color: var(--white);
  font-family: "Stack Sans Text", "Akmorn Grotesque", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
}

body > section + section {
  margin-top: 32px;
}

h1 {
  color: var(--blue);

  font-family: "HS LunaObscura";
  font-feature-settings: "ss01" 1;
  font-size: 42px;
  font-weight: bold;
}

h2 {
  font-family: "Stack Sans Text";
  font-feature-settings: "ss01" 1;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 8px;
}

h3 {
  font-family: "Stack Sans Text";
  font-size: 21px;
  font-weight: bold;
}

a,
a:visited {
  color: var(--blue);
  padding: 0px 2px;
}

a:hover {
  background-color: var(--blue);
  color: var(--white);
  text-decoration: none;
}

p {
  margin: 0.25em 0px;
}

p + p {
  margin-top: 0.25em;
}

b {
  font-weight: bold;
}

textarea,
input {
  background-color: var(--darkbluegrey);
  color: var(--white);
  box-shadow: inset 0px 0px 4px var(--black);
  border: 2px inset var(--black);
  font-family: "Stack Sans Text";
  border-radius: 6px;

  padding: 4px 8px;
  resize: vertical;
}

textarea:focus,
input:focus {
  border-color: var(--lightblue);
  outline: none;
}

section + section {
  margin-top: 16px;
}

details {
  summary {
    cursor: pointer;
  }
}

/* === INTERFACE === */

.link-button {
  padding: 2px 5px;
}

.link-alt {
  color: var(--orange) !important;
}

.link-alt:hover {
  background-color: var(--orange);
  color: var(--black) !important;
}

.button,
.button_disabled {
  background: linear-gradient(#0a5cb9, #1672db);
  border: none;
  color: #aecaee !important;
  padding: 2px 14px;
  text-decoration: none;
  text-shadow: 1px 1px 0px transparent;
  transform: skew(-45deg);

  span {
    display: inline-block;
    transform: skew(45deg);
  }
}

.button:hover:not(:disabled) {
  background: var(--white);
  color: var(--black) !important;
  cursor: pointer;
}

.button:disabled,
.button_disabled,
.button-action:disabled {
  background: var(--blue-disabled);
  color: #637286 !important;
  cursor: default;
}

.button-action {
  background-color: #4e81cc;
  border: 1px solid var(--white);
  border-radius: 2px;
  color: white;
  font-weight: bold;
}

.button-action:hover:not(:disabled) {
  background-color: #1b3463;
  color: var(--blue);
  cursor: pointer;
}

.button-cancel {
  background: linear-gradient(var(--red), var(--darkred));
  border: none;
  color: var(--peach);
}

.button-cancel:hover {
  background: var(--peach);
  color: var(--red);
  cursor: pointer;
}

/* === LAYOUT === */

.content {
  background-color: var(--black);
  max-width: 1000px;
  width: 100%;
}

/* === STYLE === */

.box-thing {
  background-color: var(--black);

  border: 1px solid var(--blue);
  border-radius: 4px;
  overflow: hidden;
  padding: 16px;
}

.no-padding {
  padding: 0px;
}

.box-thing + .box-thing {
  margin-top: 16px;
}

.content-padding {
  margin: 8px 16px;
}

.content-padding + .content-padding {
  padding-top: 0px;
  padding-bottom: 0px;
}

.site-title {
  a {
    text-decoration: none;
  }
}

.error-text {
  color: var(--error-red);
}

.warning-text {
  color: var(--warning-orange);
}

.orange-text {
  color: var(--orange) !important;
}

.color-darkred {
  color: var(--darkred);
}

.input-invalid {
  border-color: var(--error-red);
}

.less-important {
  font-style: italic;
  opacity: 0.6;
}
