<!DOCTYPE html>

<html lang="en">
  <head>
    <!-- META -->
    <meta charset="UTF-8" />
    <meta lang="en-US" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content="{{eleventy.generator}}" />

    <!-- SOME STUFF -->
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />
    <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg">
    <link rel="alternate icon" type="image/png" href="/assets/favicon.png">

    <!-- https://ogp.me stuff -->
    <meta property="og:url" content="https://wireless.fish{{ page.url }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ title }}" />
    {% if description %}<meta property="og:description" content="{{ description }}" />{% endif %}
    {% if og_img %}<meta property="og:image" content="{{ og_img }}" />{% endif %}

    {# base styles #}
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" href="/assets/favicon.png">

    {% block head %}
    {% endblock %}

    {% block style %}
    {% endblock %}

    {% for sheet in extra_css %}
      <link rel="stylesheet" href="{{ sheet }}" />
    {% endfor %}
  </head>

  <body>
    <header class="site-header">
      <h1 class="site-title">wireless.fish</h1>

      <nav style="display: flex; gap: 4px; justify-content: center;">
        <a class="button" href="/"><span>Home</span></a>
        <a class="button" href="/collections"><span>Collections</span></a>
        <a class="button" href="/scrobbles"><span>Scrobbles</span></a>
        <a class="button" href="/guestbook"><span>Guestbook</span></a>
        <span class="nav-spacer"></span>
        <a class="button" href="https://github.com/wirelessfishes"><span>Git 🡕</span></a>
      </nav>
    </header>
    
    <div class="content">
      {{ content | safe }}

      <footer style="text-align: center; display: flex; flex-direction: column; gap: 1px; margin-top: 0.5em;">
        <div>
          ♡ Copying is an act of theft, while taking inspiration is the true act of love.
          <a class="link-button" href="https://maxpixels.moe/manifesto/">🡕</a>
        </div>

        <div>© Sharky 2025-2026 <a class="link-button" href="/LICENSE.txt">→</a></div>

        <div style="opacity: 50%; font-size: small;">Discord: <span title="ID: 1248946136123707495">wirelessfishes</span> | E-Mail: sharky@wireless.fish</div>
      </footer>
    </div>
  </body>
</html>