@font-face {
  font-display: swap;
  font-family: "Akmorn Grotesque";
  src: url("/fonts/AkmornGrotesque/AkmornGrotesqueDemo-Regular.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Akmorn Grotesque";
  font-style: italic;
  src: url("/fonts/AkmornGrotesque/AkmornGrotesqueDemo-Italic.ttf") format("truetype");
}
