@font-face {
  font-family: "Akmorn Grotesque";
  font-display: swap;
  src: url("/fonts/AkmornGrotesque/AkmornGrotesqueDemo-Regular.ttf"), format("ttf");
}

@font-face {
  font-family: "Akmorn Grotesque";
  font-display: swap;
  font-style: italic;
  src: url("/fonts/AkmornGrotesque/AkmornGrotesqueDemo-Italic.ttf"), format("ttf");
}
