#scrobbles-recent {
  display: grid;
  gap: 8px;

  max-height: 664px;
  overflow-x: scroll;
}

#scrobbles-info_tracks,
#scrobbles-info_artists {
  background-color: var(--darkgrey);
  border-radius: 6px;
  display: grid;
  gap: 8px;
  max-height: 290px;
  overflow-x: scroll;
  padding: 2px 4px;
}

.scrobble-user_img {
  aspect-ratio: 1;
  border-radius: 100%;
  object-fit: cover;
  overflow: hidden;
  width: 100px;
}

.scrobble-user {
  display: flex;
  justify-content: center;
  margin: 16px 0px;
}

.scrobble-user_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4px 8px;
}

.scrobble-user_name {
  width: fit-content;
}
